@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}
body{
    background-image: linear-gradient(to right, pink rgb(155, 132, 136));
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    width: 100%;
    background-color: pink;
}

.top-header{
    background-color: #582F0E;
    padding: 20px;
    padding: 2%;
}

.top-header .logotipo img{
    max-width: 150px;
}

.top-header > .interface{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header .btn-social button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    color: rgb(231, 148, 202);
}

.btn-social button:hover{
    color: rgb(236, 171, 220);
    transition: .3s ease-in-out;
    background-color: rgb(255, 33, 203);
    transition: background-color 0.35s ease-in-out;
}
.btn-social img{
    height: 18px;
    width: 20px;

}

.bottom-header a{
    color: white;
    padding: 25px 35px;
text-decoration: none;
font-weight: 600;
display: flex;
transition:0.38s;
background-color: pink;
}
.bottom-header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;


}

.bottom-header a:hover{
    background-color: rgb(201, 49, 178);
    color: black;
    box-shadow: inset 0 0 8px black;

}

.menu-produtos{
    position: relative;
}

.menu-produtos .drop{

 position: absolute;
width: 100%;
height: 0;
overflow: hidden;
transition:.5s;
}
.menu-produtos .drop{

    padding: 20px;

}

.menu-produtos:hover .drop{
    height: 500px;
    opacity: 1;
visibility: visible;

}
.botoes_apps {
border:border-box;
position: fixed;
width: 30px;
height: 70px;
size: 10px;
left: 10px;
margin-left: 100%;
}
.botoes_apps {
background-color: gray;
padding:5px;
}